@keyframes check {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(4px);
  }
}

@keyframes heart {
  from {
    scale: 1;
    transform-origin: center;
  }

  to {
    scale: 1.5;
    transform-origin: center;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
