.page {
  max-inline-size: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block-start: 102px;

  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--text-weight);

  background-image: var(--bg-gradient-image);
  background-attachment: fixed;
  background-color: var(--theme-background-color);
  color: var(--theme-accent-color);
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  inline-size: min(100%, 696px);
  block-size: 364px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px;
  margin-block-end: 104px;
  outline: 2px solid var(--theme-accent-color);
  background-color: var(--theme-background-color);
}

.header__logo {
  font-family: var(--accent-font-family);
  font-size: clamp(3rem, 2.4222rem + 2.4653vw, 4rem);
  font-style: normal;
  font-weight: var(--text-weight);
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  font-weight: var(--text-weight);
  line-height: normal;
  text-transform: uppercase;
}

/* Header-menu */

.theme-menu__list {
  padding-inline-start: 17px;
  padding-block-start: 3px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--title-weight);
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  border: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--theme-accent-color);
  transition: width 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  top: 0;
  animation: 0.5s ease-in-out 0s infinite alternate check;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

/* Cards */

.card {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  inline-size: min(100%, 696px);
  background-color: var(--theme-background-color);
  outline: 2px solid var(--theme-accent-color);
}

.card__title {
  font-variation-settings: "wght" var(--title-weight);
  font-family: var(--main-font-family);
  font-size: 18px;
  padding: 5px 10px;
  border-bottom: 2px solid var(--theme-accent-color);
}

.card__picture-container {
  position: relative;
  display: flex;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

.card__picture-logo {
  position: absolute;
  top: 26px;
  right: 26px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 var(--theme-background-color),
    1px -1px 0 var(--theme-background-color),
    -1px 1px 0 var(--theme-background-color),
    -1px -1px 0 var(--theme-background-color);
  color: var(--theme-accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--text-weight);
  line-height: normal;
  text-transform: uppercase;
  z-index: 1;
}

@supports (text-stroke: 1px var(--theme-background-color)) or
  (-webkit-text-stroke: 1px var(--theme-background-color)) {
    
  .card__picture-logo {
    -webkit-text-stroke: 1px var(--theme-background-color);
    text-stroke: 1px var(--theme-background-color);
    text-shadow: none;
  }
}

.card__picture {
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 0;
}

.card__picture-roadsign {
  filter: grayscale(0.8);
}

.card__picture-whitepaper {
  filter: grayscale(0.8) sepia(0.5);
}

.card__picture-oldhous {
  filter: invert(10%);
}

.card__picture-shoes {
  filter: grayscale(0.8) blur(3px);
}

.card__picture-friends {
  filter: contrast(50%) saturate(60%);
}

.card__picture-map {
  filter: grayscale(0.8) contrast(1.3);
}

.card__picture-gym {
  filter: opacity(50%);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--text-weight);
  padding: 25px;
  border-top: 2px solid var(--theme-accent-color);
}

.card__button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 7px;
  padding-right: 25px;
  padding-bottom: 25px;
}

/* Button - common styles */

.button {
  background-color: var(--theme-background-color);
  border: 2px solid var(--theme-accent-color);
  font-family: var(--accent-font-family);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.button:focus {
  outline: none;
  border: 2px solid var(--theme-accent-color);
}

.button:focus-visible {
  outline: none;
  border: 2px solid var(--theme-accent-color);
  box-shadow: 2px 2px var(--theme-accent-color);
  transition: 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--theme-accent-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::after {
  width: 100%;
}

.button__text {
  color: var(--button-accent-color);
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  font-size: 14px;
}

/* Button with icon */

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  width: 38px;
  height: 38px;
  padding: 0;
  cursor: pointer;
}

.card__icon-button:focus {
  border: none;
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--theme-accent-color);
  transition: border 0.3s ease;
}

.like-icon {
  width: inherit;
  height: inherit;
}

.like-icon .core {
  fill: var(--theme-background-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .main-body {
  fill: var(--theme-background-color);
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--theme-accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--theme-accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-accent-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s alternate ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s alternate ease-in 0.3s;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

/* Footer */

.footer {
  padding: 51px 0 103px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 0;
  font-size: 14px;
  width: 340px;
  height: 55px;
  background-color: var(--theme-background-color);
  position: relative;
  z-index: 1;
}

.footer__button-picture {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
  color: var(--button-accent-color);
  mix-blend-mode: difference;
}

.footer__button-text {
  text-transform: uppercase;
}
/* <dialog> */

.footer__popup {
  inline-size: 357px;
  block-size: 193px;
  opacity: 0;
  transition: opacity 0.8s ease;
  border: 2px solid var(--theme-accent-color);
  background-color: var(--theme-background-color);
  font-family: var(--accent-font-family);
  font-size: var(--title-weight);
  color: var(--theme-accent-color);
}

.footer__popup[open] {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 28px;
  padding: 31.5px;
  width: 357px;
  opacity: 1;
  transition: opacity 0.8s ease;
  overflow: hidden;
}

.footer__popup::backdrop {
  background-color: var(--theme-background-color);
  backdrop-filter: blur(7px);
}

.footer__popup-container {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
}

.footer__popup-text {
  color: var(--themes-accent-color, #000);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.footer__popup-button {
  width: 100%;
  min-height: 38px;
  padding: 9px 17px;
}

.footer__popup-button-picture {
  width: 62px;
  height: 38px;
  transform: scale(1.9);
  padding-inline-start: 6px;
  padding-block-start: 8px;
}

@media (width <= 701px) {
  .main {
    gap: 50px;
  }

  .header {
    outline: none;
    border: 2px solid var(--theme-accent-color);
    block-size: 327px;
    margin-block-end: 100px;
  }

  .theme-menu__list {
    padding-inline-start: 21px;
    gap: 8px;
  }

  .card {
    outline: none;
    border: 2px solid var(--theme-accent-color);
  }

  .card__picture-logo {
    top: 22px;
    right: 10px;
  }

  .footer {
    padding: 50px 0 103px;
  }

  .footer__button {
    flex-direction: column;
    width: 310px;
    height: 83px;
  }

  .footer__button-picture {
    width: 28px;
    height: 28px;
  }

  .footer__button-picture .floppy {
    transform: scale(1.3);
  }

  .footer__popup[open] {
    width: 341px;
    height: 195px;
    padding: 32px 42px;
  }

  .footer__popup-button {
    display: flex;
    width: 257px;
    height: 38px;
    padding: 9px 17px;
    justify-content: center;
  }
}
